/* Navigation header styles */

.header-styles {
    background-image: url(../images/doro.jpg);
    padding: 200px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 400px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    color: white;
    filter: opacity(0.85);
}

.header-styles > .nav-btn-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 500px;
    padding-bottom: 270px;
    
}

.header-styles > .nav-btn-wrapper a:not(.default):link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    text-align: center;
    background-color: transparent;
    width: 100px;
    transition: 0.5s;
}

.header-styles > .nav-btn-wrapper a:not(.default):visited {
    color: inherit;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}

.header-styles > .nav-btn-wrapper a:not(.default):link:hover {
    color:#cea135;
    letter-spacing: 1px;
}

.header-styles > .banner-text {
    font-family: 'Inter', sans-serif;
    font-size: 1.2em;
    text-emphasis: center;
    margin:0px;
    text-align: center;
}
